## Qusetion 1

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/02/25 22:21:34 WARN Utils: Your hostname, codespaces-6ec39f, resolves to a loopback address: 127.0.0.1; using 10.0.1.147 instead (on interface eth0)
26/02/25 22:21:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/25 22:21:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/02/25 22:21:37 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
26/02/25 22:21:37 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
spark.version

'4.1.1'

## Question 2

In [8]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-11.parquet

--2026-02-25 22:27:54--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 52.85.97.61, 52.85.97.44, 52.85.97.194, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|52.85.97.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 71134255 (68M) [binary/octet-stream]
Saving to: ‘yellow_tripdata_2025-11.parquet’

yellow_tripdata_202 100%[===================>]  67.84M  18.8MB/s    in 3.6s

2026-02-25 22:27:58 (18.8 MB/s) - ‘yellow_tripdata_2025-11.parquet’ saved [71134255/71134255]

In [9]:
df = spark.read.parquet("yellow_tripdata_2025-11.parquet")

In [10]:
df = df.repartition(4)

In [11]:
df.write.mode("overwrite").parquet("yellow_2025_11_repartitioned")

## Question 3

In [12]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

In [13]:
df.createOrReplaceTempView("yellow_trips")

In [14]:
result = spark.sql("""
    SELECT COUNT(*) AS trip_count
    FROM yellow_trips
    WHERE DATE(tpep_pickup_datetime) = '2025-11-15'
""")

result.show()

[Stage 4:=============================>                             (1 + 1) / 2]

+----------+
|trip_count|
+----------+
|    162604|
+----------+

## Question 4

In [15]:
spark.sql("""
    SELECT 
        MAX((UNIX_TIMESTAMP(tpep_dropoff_datetime) - 
             UNIX_TIMESTAMP(tpep_pickup_datetime)) / 3600.0) AS longest_trip_hours
    FROM yellow_trips
""").show()

[Stage 12:=============================>                            (2 + 2) / 4]

+------------------+
|longest_trip_hours|
+------------------+
|         90.646667|
+------------------+

## Question 6

In [16]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2026-02-25 22:36:23--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 52.85.97.61, 52.85.97.13, 52.85.97.194, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|52.85.97.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2026-02-25 22:36:23 (1.13 GB/s) - ‘taxi_zone_lookup.csv.1’ saved [12331/12331]

In [17]:
df_zones = spark.read.option("header", "true") \
    .csv("taxi_zone_lookup.csv")

df_zones.createOrReplaceTempView("zones")

In [18]:
df_zones.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [19]:
spark.sql("""
    SELECT 
        z.Zone,
        COUNT(*) AS trip_count
    FROM yellow_trips y
    JOIN zones z
        ON y.PULocationID = z.LocationID
    GROUP BY z.Zone
    ORDER BY trip_count ASC
    LIMIT 1
""").show()

[Stage 20:===========================================>              (3 + 1) / 4]

+--------------------+----------+
|                Zone|trip_count|
+--------------------+----------+
|Governor's Island...|         1|
+--------------------+----------+